h1, h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  text-align: justify;
  margin-bottom: 15px;
}

img{
  height: 500px; 
  object-fit: cover;
  display: block;
    margin: auto;
}
div {
  border: solid;
  width: 100%;
  max-width: 640px;
  height: auto;
  margin: auto;
}
